body {
    background: #fdfdfd;
    font-family:'Courier New', Courier, monospace, sans-serif;
}

.main {
    width: 70%;
    max-width: 600px;
    margin: 3.125rem auto;
    color: #333;
    -moz-box-pack: center;
    box-pack: center;
	-webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
    flex-wrap: wrap;
}

.header {
    margin-bottom: 1rem;
    position: relative;
}

.header h1 {
    display: inline-block;
    color: #b7ba6b;
    text-align: center; 
    font-size: 2.25rem;
}

.header::before {
    content: "";
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    background: url("../images/head.png") no-repeat;
    background-size: 100% 100%;
    vertical-align: text-bottom;
}

.add-img {
    width: 100%;
    height: 5.5rem;
    margin: 1.5rem auto;
    border: 0.125rem solid #b7ba6b;
    border-radius: 0.25rem;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -ms-border-radius: 0.25rem;
    -o-border-radius: 0.25rem;
    box-sizing: border-box;
    text-align: center;
}

.add-img > label {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.add-img > label > span {
    color: #333;
    font-size: 1.75rem;
    line-height: 5.5rem;
}

.add-img span::before {
    content: "";
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    background: url('../images/add.png') no-repeat top;
    background-size: contain;
    margin-right: 0.5rem;
    vertical-align: text-bottom;
}

.text {
    width: 100%;
    height: 6.5rem;
    box-sizing: border-box;
    margin: 1.5rem auto;
    padding: 0.625rem 1.75rem;
    background: #fefefe;
    border: 0.125rem dashed #b7ba6b;
    border-radius: 0.25rem;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -ms-border-radius: 0.25rem;
    -o-border-radius: 0.25rem;
    font-size: 1.75rem;
    color: #5a6674;
    -webkit-appearance: none; 
}

.btn-gen {
    width: 100%;
    height: 5.5rem;
    margin: 1.5rem 0;
    border: 0.125rem solid #b7ba6b;
    border-radius: 0.25rem;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -ms-border-radius: 0.25rem;
    -o-border-radius: 0.25rem;
    text-align: center;
}

.btn-gen span {
    color: #333;
    font-size: 1.75rem;
    line-height: 5.5rem;
}


.btn-gen span::before {
    content: "";
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    background: url('../images/gen.png') no-repeat;
    background-size: 100% 100%;
    margin-right: 0.5rem;
    vertical-align: text-bottom;
}

.show {
    width: 80%;
    margin: 1.5rem auto;
    overflow: hidden;
    position: relative;
}

.icon-switch {
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 0.25rem;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -ms-border-radius: 0.25rem;
    -o-border-radius: 0.25rem;
    background: url("../images/switch.png") no-repeat center;
    background-size: 90% 90%;
    background-color: #000;
    opacity: 0.8;
    filter: alpha(opacity=80);
    -webkit-filter: alpha(opacity=80);
    position: absolute;
    right: 0;
    top: 0;
}

.icon-switch:active {
    background-color: #999;
    transition: ease 0.1s;
    -webkit-transition: ease 0.1s;
    -moz-transition: ease 0.1s;
    -ms-transition: ease 0.1s;
    -o-transition: ease 0.1s;
}


.show-img {
    min-width: 100%;
    max-width: 100%;
    border-radius: 0.25rem;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -ms-border-radius: 0.25rem;
    -o-border-radius: 0.25rem;
    overflow: hidden;
}

.show p{
    display: none;
    min-width: 100%;
    max-width: 100%;
    text-align: center;
    font-size: 1.5rem;
    color: #b7ba6b;
    padding: 1.25rem 0;
    box-sizing: border-box;
}

.screen {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.8;
    filter: alpha(opacity=80);
    -webkit-filter: alpha(opacity=80);
    z-index: 10;
}

.cancel {
    position: fixed;
    left: 0;
    top: 0;
    font-size: 1.75rem;
    color: #fff;
    padding: 2rem;
    z-index: 9;
}

.confirm {
    position: fixed;
    right: 0;
    top: 0;
    font-size: 1.75rem;
    color: #fff;
    padding: 2rem;
    z-index: 9;
}

#poster {
    position: fixed;
    left: -1000px;
    top: -1000px;
    z-index: -1;
}